[project]
	description = reflections of git and github udacity course
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ssforos
[access "refs/for/refs/*"]
	read = group user/ssforos
	push = group user/ssforos
	label-Code-Review = -2..+2 group user/ssforos
	label-Verified = -1..+1 group user/ssforos
	rebase = group user/ssforos
	removeReviewer = group user/ssforos
	submit = group user/ssforos
[access "refs/heads/*"]
	read = group user/ssforos
	create = group user/ssforos
	push = +force group user/ssforos
	pushMerge = group user/ssforos
[access "refs/tags/*"]
	push = +force group user/ssforos
	pushTag = group user/ssforos
	pushSignedTag = group user/ssforos
